<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anz.res.res.dao.DepartmentMapper">
	<resultMap id="BaseResultMap" type="com.anz.res.res.domain.Department">
		<id column="ID" jdbcType="BIGINT" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="PARENT_DEP_ID" jdbcType="BIGINT" property="parentDepId" />
		<result column="MANAGER_ID" jdbcType="BIGINT" property="managerId" />
		<result column="LOCATION" jdbcType="VARCHAR" property="location" />
		<result column="OPEN_PERSITIONS" jdbcType="INTEGER" property="openPersitions" />
		<result column="PATH" jdbcType="VARCHAR" property="path" />
		<result column="VERSION" jdbcType="BIGINT" property="version" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, PARENT_DEP_ID, MANAGER_ID, LOCATION, OPEN_PERSITIONS, PATH, VERSION
	</sql>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from res_department
	</select>

	<select id="findSubDepartmentsByPath" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from res_department
		where PATH like CONCAT(CONCAT('', #{path,jdbcType=VARCHAR}), '%')
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from res_department
		where ID = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from res_department
		where ID = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteDepartmentByPath" parameterType="java.lang.String">
		delete from res_department
		where PATH like CONCAT(CONCAT('', #{path,jdbcType=VARCHAR}), '%')
	</delete>
	<insert id="insert" parameterType="com.anz.res.res.domain.Department">
		insert into res_department (ID, NAME, PARENT_DEP_ID,
		MANAGER_ID, LOCATION, OPEN_PERSITIONS,
		PATH, VERSION)
		values (#{id,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR}, #{parentDepId,jdbcType=BIGINT},
		#{managerId,jdbcType=BIGINT}, #{location,jdbcType=VARCHAR}, #{openPersitions,jdbcType=INTEGER},
		#{path,jdbcType=VARCHAR},
		#{version,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.anz.res.res.domain.Department">
		insert into res_department
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="name != null">
				NAME,
			</if>
			<if test="parentDepId != null">
				PARENT_DEP_ID,
			</if>
			<if test="managerId != null">
				MANAGER_ID,
			</if>
			<if test="location != null">
				LOCATION,
			</if>
			<if test="openPersitions != null">
				OPEN_PERSITIONS,
			</if>
			<if test="path != null">
				PATH,
			</if>
			<if test="version != null">
				VERSION,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="parentDepId != null">
				#{parentDepId,jdbcType=BIGINT},
			</if>
			<if test="managerId != null">
				#{managerId,jdbcType=BIGINT},
			</if>
			<if test="location != null">
				#{location,jdbcType=VARCHAR},
			</if>
			<if test="openPersitions != null">
				#{openPersitions,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.anz.res.res.domain.Department">
		update res_department
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parentDepId != null">
				PARENT_DEP_ID = #{parentDepId,jdbcType=BIGINT},
			</if>
			<if test="managerId != null">
				MANAGER_ID = #{managerId,jdbcType=BIGINT},
			</if>
			<if test="location != null">
				LOCATION = #{location,jdbcType=VARCHAR},
			</if>
			<if test="openPersitions != null">
				OPEN_PERSITIONS = #{openPersitions,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				PATH = #{path,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				VERSION = #{version,jdbcType=BIGINT},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.anz.res.res.domain.Department">
		update res_department
		set NAME = #{name,jdbcType=VARCHAR},
		PARENT_DEP_ID = #{parentDepId,jdbcType=BIGINT},
		MANAGER_ID =
		#{managerId,jdbcType=BIGINT},
		LOCATION = #{location,jdbcType=VARCHAR},
		OPEN_PERSITIONS = #{openPersitions,jdbcType=INTEGER},
		PATH = #{path,jdbcType=VARCHAR},
		VERSION =
		#{version,jdbcType=BIGINT}
		where ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>